.main__exchanger {
    width: 100%;
    max-width: 600px;
    background: white;
    border-radius: 10px;
    margin-bottom: 40px;

    & button {
        color: white;
        width: 100%;
        height: auto;
        padding: 10px;
        border-radius: 10px;
        background-color: #2D6CDF;
        transition: all 0.3s ease 0s;
        cursor: pointer;

        &:hover {
            background-color: #327aff;
        }
    }
}

.exchanger__form {
    margin: 35px 70px 35px 70px;
}

.exchanger__sent {

    display: flex;
    width: 100%;
    align-items: center;
    border-color: hsl(0, 0%, 80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    height: 100px;
    font-size: 24px;
    padding-left: 5px;
    margin-bottom: 20px;
}

.exchanger__sent-control {
    width: 100%;
    display: flex;
    flex-direction: column;

    & span {
        width: 100%;
        font-size: 14px;
        margin-bottom: 10px;
    }
    & input {
        width: 100%;
    }
}

.exchanger__sent-amount {
    padding-left: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    width: 100%;
}

.exchanger__img-sent {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    background-image: url(../../image/get/tether.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.exchanger__img-get {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    background-image: url(../../image/get/usdc.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.exchanger__select {
    width: 150px;
    & input {
        height: 84px;
    }
    & div {
        border-radius: none;
        border-style: none;
        border-width: none;
        font-size: 14px;
    }

}

.exchanger__payment {
    width: 100%;
    display: flex;
    padding: 5px 15px 5px 10px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 20px;

    border-color: hsl(0, 0%, 80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
}

.exchanger__button {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 780px) {
    .exchanger__form {
        margin: 25px 60px 25px 60px;
    }
    .exchanger__sent {
        height: 80px;
        font-size: 18px;
    }
    .exchanger__select {
        width: 150px;
        & input {
            height: 64px;
        }
        & div {
            border-radius: none;
            border-style: none;
            border-width: none;
            font-size: 12px;
        }
    }
}